 @import "fonts";
 @font-face {
     font-family: "IRANSans";
     font-style: normal;
     font-weight: bold;
     src: url("../fonts/eot/IRANSansWeb_Bold.eot");
     src: url("../fonts/eot/IRANSansWeb_Bold.eot?#iefix") format("embedded-opentype"), /* IE6-8 */
     url("../fonts/woff2/IRANSansWeb_Bold.woff2") format("woff2"), /* FF39+,Chrome36+, Opera24+*/
     url("../fonts/woff/IRANSansWeb_Bold.woff") format("woff"), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
     url("../fonts/ttf/IRANSansWeb_Bold.ttf") format("truetype");
 }
 
 .jumbotron {
     padding-top: 3rem;
     padding-bottom: 3rem;
     margin-bottom: 0;
     background-color: #fff;
 }
 
 @media (min-width: 768px) {
     .jumbotron {
         padding-top: 6rem;
         padding-bottom: 6rem;
     }
 }
 
 .jumbotron p:last-child {
     margin-bottom: 0;
 }
 
 .jumbotron h1 {
     font-weight: 300;
 }
 
 .jumbotron .container {
     max-width: 40rem;
 }
 
 footer {
     padding-top: 3rem;
     padding-bottom: 3rem;
 }
 
 footer p {
     margin-bottom: .25rem;
 }
 
 .bd-placeholder-img {
     font-size: 1.125rem;
     text-anchor: middle;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
 }
 
 @media (min-width: 768px) {
     .bd-placeholder-img-lg {
         font-size: 3.5rem;
     }
 }